In [11]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Read the dataset

In [5]:
data = pd.read_csv("/content/adult.data.csv")
data.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [19]:
edu_count = data['education'].value_counts()
print(edu_count)

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [20]:
sal_count = data['salary'].value_counts()
print(sal_count)

<=50K    24720
>50K      7841
Name: salary, dtype: int64

In [8]:
row,col = data.shape
print(row)
print(col)

32561
15

# How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [6]:
print(data['race'])

0        White
1        White
2        White
3        Black
4        Black
         ...
32556    White
32557    White
32558    White
32559    White
32560    White
Name: race, Length: 32561, dtype: object

In [7]:
print(data['race'].value_counts())

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

# What is the average age of men?

In [55]:
average_of_age = data.loc[data['sex']=='Male']['age'].mean().round(decimals=2)
print(average_of_age)

39.43

# What is the percentage of people who have a Bachelor's degree?

In [17]:
noOfBachelorDeg = 0
for x in data['education']:
  if x=='Bachelors':
    noOfBachelorDeg = noOfBachelorDeg+1
percentageOfBachelor = (noOfBachelorDeg/row)*100
print("%.2f"%percentageOfBachelor)

16.45

# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [71]:

educationAndSalary = data[['education','salary']]

noOfAdvanceDegree = educationAndSalary.loc[((educationAndSalary['education']=='Bachelors') | (educationAndSalary['education']=='Masters') | (educationAndSalary['education']=='Doctorate')) & (educationAndSalary['salary']=='>50K')]
r,c = noOfAdvanceDegree.shape
percentageOfAdvanceDegree = (r/row)*100
print(percentageOfAdvanceDegree)

10.706059396210192

# What percentage of people without advanced education make more than 50K?

In [72]:
noOfWithoutAdvanceDegree = educationAndSalary.loc[((educationAndSalary['education']!='Bachelors') | (educationAndSalary['education']!='Masters') | (educationAndSalary['education']!='Doctorate')) & (educationAndSalary['salary']=='>50K')]
r,c = noOfWithoutAdvanceDegree.shape
percentageOfWithoutAdvanceDegree = (r/row)*100
print(percentageOfWithoutAdvanceDegree)

24.080955744602438

# What is the minimum number of hours a person works per week?

In [74]:
minimumNumOfHr = data['hours-per-week'].min()
print(minimumNumOfHr)

1

# What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [77]:
WorkHourAndSalary = data[['hours-per-week','salary']]

noOfPeopleWorkWise = WorkHourAndSalary.loc[(WorkHourAndSalary['hours-per-week']==minimumNumOfHr) & (educationAndSalary['salary']=='>50K')]

r,c = noOfPeopleWorkWise.shape
percentageOfPeopleWorkWise = (r/row)*100
print(percentageOfPeopleWorkWise)

0.006142317496391388

In [85]:
print(data['native-country'].value_counts())

United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64

In [81]:
CountryAndSalary = data[['native-country','salary']]
CountryAndSalary

      native-country salary
0      United-States  <=50K
1      United-States  <=50K
2      United-States  <=50K
3      United-States  <=50K
4               Cuba  <=50K
...              ...    ...
32556  United-States  <=50K
32557  United-States   >50K
32558  United-States  <=50K
32559  United-States  <=50K
32560  United-States   >50K

[32561 rows x 2 columns]

# What country has the highest percentage of people that earn >50K and what is that percentage?

In [86]:
grouped = data.groupby(['native-country', 'salary']).size().unstack()
# Calculate the percentage of people earning >50K for each country
grouped['>50K_percentage'] = (grouped['>50K'] / (grouped['<=50K'] + grouped['>50K'])) * 100
# Find the country with the highest percentage
highest_percentage_country = grouped['>50K_percentage'].idxmax()
highest_percentage = grouped.loc[highest_percentage_country, '>50K_percentage']
# Print the result
print("Country with the highest percentage of people earning >50K: ", highest_percentage_country)
print("Percentage of people earning >50K in that country: ", highest_percentage)

Country with the highest percentage of people earning >50K:  Iran
Percentage of people earning >50K in that country:  41.86046511627907

# Identify the most popular occupation for those who earn >50K in India.

In [87]:
# Filter the data for individuals earning >50K and residing in India
filtered_data = data[(data['salary'] == '>50K') & (data['native-country'] == 'India')]
# Count the occurrences of each occupation
occupation_counts = filtered_data['occupation'].value_counts()
# Get the most popular occupation
most_popular_occupation = occupation_counts.idxmax()
# Print the result
print("Most popular occupation for those earning >50K in India: ", most_popular_occupation)

Most popular occupation for those earning >50K in India:  Prof-specialty